<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
		<link href='https://fonts.googleapis.com/css?family=Anek Gujarati' rel='stylesheet'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="main" onload="initClock()">
        <div class="headcon">
            <div class="logocon">
                <img alt="brgy logo" src="images/logo.png"/>
            </div>
            <h1 class="brgy">Information System of Barangay Daang Bakal</h1>
            <div class="toptime">
                <span id = "hour">00</span> :
                <span id = "minute">00</span>
                <span id = "period">AM</span>
            </div>
        </div>
        <div class="headcon">
            <ul>
                <li onclick="window.location.href='/loggedin'">Home</li>
                <li onclick="window.location.href='/personalinfo'">Residents Information</li>
                <li onclick="window.location.href='/announcements'">Announcement</li>
                <li onclick="window.location.href='/barangayofficials'">Barangay Officials</li>
                <li onclick="window.location.href='/certificates'">Certificates</li>
                <li onclick="window.location.href='/login'">LOGOUT</li>
            </ul>
            <div class="bottomtime">
                <span id = "day">Day</span>,
                <span id = "month">Month</span>
                <span id = "date">00</span>
                <span id = "year">Year</span>
            </div>
        </div>
        <div class = "flex-container">
            <div class = "announce">
                <div class = "bodycon">
                    <div class = "header">
                        <h2 class = "headtxt">Announcements</h2>
                    </div>
                    <div class = "posts">
                        <div class = "crosswise">
                            <div class = "crosscont">
                                <h3>News 1</h3>
                                <img class = "img" alt="News Image" src="uploads/news/anncnewsimg1.ico"/>
                                {{#each news1}}
                                <p class = "txt">{{Header}}<br><br>
                                    {{Body}}<br><br>
                                    {{Link}}</p>
                                {{/each}}
                            </div>
                            <div class = "crosscont">
                                <h3>News 2</h3>
                                <img class = "img" alt="News Image" src="uploads/news/anncnewsimg2.ico"/>
                                {{#each news2}}
                                <p class = "txt">{{Header}}<br><br>
                                    {{Body}}<br><br>
                                    {{Link}}</p>
                                {{/each}}
                            </div>
                            <div class = "crosscont">
                                <h3>Events 1</h3>
                                <img class = "img" alt="News Image" src="uploads/news/annceventimg1.ico"/>
                                {{#each events1}}
                                <p class = "txt">{{Header}}<br><br>
                                {{Body}}<br><br>
                                {{Link}}</span></p>
                                {{/each}}
                            </div>
                            <div class = "crosscont">
                                <h3>Events 2</h3>
                                <img class = "img" alt="News Image" src="uploads/news/annceventimg2.ico"/>
                                {{#each events2}}
                                <p class = "txt">{{Header}}<br><br>
                                {{Body}}<br><br>
                                {{Link}}</span></p>
                                {{/each}}
                            </div>
                            <div class = "footer"></div>
                        </div>
                        <div class = "lengthwise">
                            <div class = "lengthcont">
                                <h3>Flash News</h3>
                                <img class = "img" alt="News Image" src="uploads/news/anncflashimg1.ico"/>
                                <img class = "img" alt="News Image" src="uploads/news//anncflashimg2.ico"/>
                            </div>
                            <div class = "footer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "sidecon">
                <h2 class = "contact">CONTACT NUMBERS</h2>
                <div class = "contactbox">
                    <h3>PHONE</h3>
                    <p>85353992 / 84639631</p>
                </div>
                <div class = "contactbox">
                    <h3>POLICE</h3>
                    <p>85322145</p>
                </div>
                <div class = "contactbox">
                    <h3>FIRE</h3>
                    <p>85322189 / 85322402</p>
                </div>
                <div class = "contactbox">
                    <h3>HOSPITAL</h3>
                    <p>85320480</p>
                </div>
                <div class = "contactbox">
                    <h3>DISASTER / RESCUE</h3>
                    <p>85332225</p>
                </div>
                <h2 class = "address">ADDRESS</h2>
                <div class = "contactbox">
                    <p>Kalentong Shaw Boulevard,</p>
                    <p>Daang Bakal, Mandaluyong City</p>
                </div>
                <div class = "motto">
                    <h3>“ Hindi mag lilingkod ng pangsarili lang, kundi maglilingkod ng pangkalahatan!”</h3>
                </div>
            </div>
        </div>
        <script src="scripts/time.js"></script>
    </body>
</html>